:root {
    --verde-spotify: rgb(1, 216, 86);
    --cinza-claro: rgb(225, 229, 235);
    --cinza1: rgb(62, 66, 75);
    --cinza2: rgb(40, 42, 47);
    --cinza3: rgb(30, 31, 36);
    --cinza4: rgb(26, 27, 28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--cinza-claro);
  font-family: Montserrat, sans-serif;
  background-color: var(--cinza4);

}

h1 {
  color: white;
}

header {
  display: flex;
  padding: 30px 40px;
}

main .parts {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

main .parts .part {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.parts .part h2 {
  margin-bottom: 20px;
  align-self: center;
}

.genres-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.genres-cards .genre {
  background-color: var(--cinza3);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.genres-cards .genre:hover{
  background-color: var(--cinza2);
}

.genres-cards .genre img {
  width: 100px;
  margin-bottom: 20px;
}

.playlist-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.music-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-card{
  background-color: var(--cinza2);
  border-radius: 30px;
  padding: 10px;
  margin: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.text-card:hover {
  background-color: var(--verde-spotify);
  color: var(--cinza2);
}